BODY {
    background: #FFFFF3;
    margin: 10px 24px;
    padding: 0;
    font-family: "TimesNewRomanPSMT", "Times New Roman", serif;
}
#body {
    width: 758px;
}
H1 {
    font: normal 14pt/14pt "Gill Sans", sans-serif;
    text-transform: uppercase;
    color: #CE0909;
    margin: 24px 0;
}
H2 {
    font: normal 12pt/12pt "Gill Sans", sans-serif;
    text-transform: uppercase;
    color: #CE0909;
    margin: 48px 0 24px;
}

#org-chart .left IMG {
    display: block;
    margin: 0 auto;
}

TABLE {
    margin: 2em 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
}
TD {
    vertical-align: top;
    margin: 0;
    padding: 0;
}
P {
    margin: 0 0 1em;
    padding: 0;
}
A IMG {
    border: none;
}

#org-chart .left {
}
#org-chart .left.arrows {
    height: 140px;
}
#org-chart .left.arrows IMG {
    padding-top: 20px;
}

#org-chart .left.arrows DIV {
    padding-top: 60px;
}
#org-chart .right {
    padding-left: 2em;
}

.cascade {
    margin: 0;
    padding: 0;
}
.cascade .left {
    text-align: left;
    vertical-align: top;
}
.cascade .center {
    text-align: left;
    vertical-align: top;
}
.cascade .right {
    text-align: left;
    vertical-align: bottom;
    padding-left: 0 ! important;
}

#brand .left {
    white-space: nowrap; 
}

BLOCKQUOTE {
    float: right;
    width: 240px;
    font: italic 16pt/18pt "TimesNewRomanPSMT", "Times New Roman", serif;
    margin: 0 0 24px 24px;
    padding: 0;
    text-align: center;
}
BLOCKQUOTE A {
    font-style: normal;
}
IMG.et {
    margin-bottom: -3px;
}
.multiply {
    color: #CE0909;
}
