<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>@import url("/main.011.css");</style>
        <script src="/jquery-1.8.1.min.js"></script>
        <title>{{ title }}</title>
        {% block head %}{% end %}
    </head>
    <body>
        <div id="blue"></div>
        <div id="post"><div id="post-padding">
            {% if 'certified' not in globals() %}
            <div id="not-certified">
                <i>
                    <span class="nowrap">I&rsquo;m reformatting these pages, and</span>
                    <span class="nowrap">this one might not look right.</span>
                </i>
            </div>
            {% end %}
            <h1>{{ title.replace(' - ', ':<br />') }}</h1>
            <div class="meta">
                By <a href="http://whit537.org/">Chad Whitacre</a><br />
                {% if 'published' in globals() and published %}
                {{ render_published(published) }}<br />
                {% end %}
            </div>
            {% block nav %}
            <div id="nav">
                <a href="/" class="text">Up to Index</a>
            </div>
            {% end %}
            {% block content %}{% end %}
            <div id="footer">{% block footer %}{% end %}
                Feedback <a href="https://github.com/whit537/whit537.org/issues/new">on 
                    GitHub</a>.
                <br /><br />
                <script data-gratipay-username="whit537" 
                        data-gratipay-widget="giving"
                        src="//grtp.co/v1.js"></script>
            </div>
        </div></div>
    </body>
</html>
