import datetime
import os
import re

import tree


title = "whit537.org"
byline = None
published = None
certified = True

posts = tree.db.find( { "published": {"$exists": True}}
                    , sort=[("published", -1)]
                     )

years = []
for post in posts:
    year = post['published'].split('-')[0]
    if not years or (year != years[-1][0]):
        years.append([year, []])
    years[-1][1].append(post)



{% extends "blag.html" %}
{% block nav %}
{% end %}
{% block content %}
    {% for year, posts in years %}
        <a name="{{ year }}"></a>
        <h3 class="year">
            <a href="/#{{ year }}">#</a>{{ year }}
        </h3>
        <div class="posts">
        {% for post in posts %}
            <a href="{{ post['_id'] }}">{{ post['title'] }}</a>
        {% end %}
        &nbsp;
        </div>
    {% end %}
{% end %}
