import datetime
import os
import re

import tree


title = "whit537.org"
byline = None
published = None
certified = True

posts = tree.db.find( { "published": {"$exists": True}}
                    , sort=[("published", -1)]
                     )

years = []
for post in posts:
    year = post['published'].split('-')[0]
    if not year:
        continue
    if not years or (year != years[-1][0]):
        years.append([year, []])
    years[-1][1].append(post)


{% extends "base.html" %}
{% block nav %}
{% end %}
{% block content %}

    <div class="midbar">
        <a href="/chad-whitacre.jpg"><img src="/chad-whitacre.128.jpg" /></a>
        <p class="caption center" style="text-align: center">
            <a href="/chad-whitacre.jpg">full size</a>
        </p>
    </div>

    <h2>Bio</h2>

    <p>Greetings, program! I'm the founder of <a
    href="https://www.gittip.com/">Gittip</a>, a way to give money every week to
    people and teams you believe in. Gittip launched in June, 2012, and as of
    December, 2013, we have about 2,200 active users exchanging about $8,300 per
    week. Gittip is funded on Gittip, and I run Gittip as openly as possible.
    Andrew Leonard, <a
    href="http://www.salon.com/2013/10/25/crowdsource_your_salary_an_economy_built_on_love/">writing
    in Salon</a>, said of me, &ldquo;[I]n 20 years of reporting, I don’t think I’ve
    ever met anyone quite so committed to <i>real</i> transparency.&rdquo;</p>

    <p>I'm an active <a href="https://github.com/whit537">open-source
    programmer</a>. I have strong interests in philosophy and religion, and I
    started a small publishing company called <a
    href="http://www.logstown.com/">Logstown</a>. I live outside Pittsburgh with my
    wife and four kids.</p>

    <h2>Blog</h2>

    {% for year, posts in years %}
        <a name="{{ year }}"></a>
        <h3 class="year">
            <a href="/#{{ year }}">#</a>{{ year }}
        </h3>
        <div class="posts">
        {% for post in posts %}
            <a href="{{ post['_id'] }}">{{ post['title'] }}</a>
        {% end %}
        &nbsp;
        </div>
    {% end %}
{% end %}
