import datetime
import os
import re

import tree


title = "whit537.org"
byline = None
published = None
certified = True

posts = tree.db.find( { "published": {"$exists": True}}
                    , sort=[("published", -1)]
                     )

years = []
for post in posts:
    year = post['published'].split('-')[0]
    if not year:
        continue
    if not years or (year != years[-1][0]):
        years.append([year, []])
    years[-1][1].append(post)


{% extends "base.html" %}
{% block nav %}
{% end %}
{% block content %}

    <div class="midbar">
        <a href="/chad-whitacre.jpg"><img src="/chad-whitacre.128.jpg" /></a>
        <p class="caption center" style="text-align: center">
            <a href="/chad-whitacre.jpg">full size</a>
        </p>
    </div>

    <h2>Bio</h2>

    <p>Greetings, program! I'm the founder of <a
      href="https://www.gittip.com/">Gittip</a>, a way to give money every week
    to people and teams you believe in. Gittip launched in June, 2012, and as
    of October, 2013, we have about 1,900 active users exchanging about $6,900
    per week. Gittip is funded on Gittip.</p>

    <p>My background is in programming, and I wrote the <a
      href="http://aspen.io/">Aspen</a> web framework and the <a
      href="http://postgres-py.readthedocs.org/en/latest/">postgres.py</a>
      database library that Gittip uses, as well as the <a
        href="http://code.google.com/p/gheat/">Gheat</a> heatmapper and the <a
        href="/mongs/">Mongs</a> database browser. I also started a small
      publishing company called <a
      href="http://www.logstown.com/">Logstown</a>. I live outside Pittsburgh
    with my wife and four kids, and I have strong interests in religion and
    philosophy.</p>

    <h2>Blog</h2>

    {% for year, posts in years %}
        <a name="{{ year }}"></a>
        <h3 class="year">
            <a href="/#{{ year }}">#</a>{{ year }}
        </h3>
        <div class="posts">
        {% for post in posts %}
            <a href="{{ post['_id'] }}">{{ post['title'] }}</a>
        {% end %}
        &nbsp;
        </div>
    {% end %}
{% end %}
