title = "Interview Policy"
certified = True


{% extends "base.html" %}
{% block content %}

<p>Thanks for your interest in interviewing me! :-)</p>

<p>My policy is to only do open interviews, for several reasons, some
altruistic, some cynical, some practical. First, I believe in openness and
collaboration! Second, open interviews are safer for me, because no matter how
you write your story, any interested reader can check the source for
themselves. Relatedly, I basically buy the thesis that <a
href="http://en.wikipedia.org/wiki/The_Journalist_and_the_Murderer">journalism
is fundamentally ethically fraught</a>; by doing open interviews, I intend to
privilege the human interaction between you and me over the story you're going
to fashion out of the raw material of our interaction. Lastly, my policy has
the happy pragmatic side-effect of limiting the number of interview requests I
get, and of ensuring that the interviews I <i>do</i> do are available for the
widest audience ... including you! :-)</p>

<p>Here's what I mean by an open interview:</p>

<ul>

    <li>All my interviews are dedicated to the public domain.</li>

    <li>For video or audio-only calls we'll do a Google Hangout on Air.  These
    are live-streamed on YouTube and <a
        href="http://www.youtube.com/playlist?list=PLivwfG4q6DTCmj3ls2a3pSOePoOGt3OYT">archived
        there as well</a>. We'll schedule the call via <a
        href="https://github.com/whit537/whit537.org/issues/new">GitHub</a> or
    <a href="mailto:chad@zetaweb.com">email</a>, and then I'll send you a link
    to the Hangout when the time comes.</li>

    <li>For email interviews, I'll respond by posting answers here on
    my blog (<a
    href="/2014/02/livio-interview.html">e.g.</a>).</li>

    <li>For podcasts and radio/TV shows or other such things that aren't
    broadcast live in full, I'll record my own version of the experience,
    and publish it immediately.</li>

</ul>

<p>I should also say: I've found that real-time interviews need to be at least
45 minutes to be meaningful as conversations. I'm willing to do shorter
interviews if you just need a quote, but I like longer interviews better. I
love serendipity in conversation! I love diving deep, chasing rabbit holes,
finding some unexpected insight together! Let's do it!</p>


<h2>Caveat</h2>

<p>The one caveat to all this is that if you travel to <a
    href="https://medium.com/gratipay-blog/meet-ambridge-8b9b2b6f8628">Ambridge</a>,
we can talk as long as you like without streaming the conversation on the
Internet. :-)</p>


<h2>Required Reading</h2>

<p>Before interviewing me, please read &ldquo;<a
    href="https://medium.com/building-gittip/5886749a4ded">Turning Down
TechCrunch</a>&rdquo; (May, 2013). That was my first experience with media
attention, and it was formative for me.</p>

<p>If you're interviewing me about Gratipay, please also read &ldquo;<a
    href="http://www.salon.com/2013/10/25/crowdsource_your_salary_an_economy_built_on_love/">Crowdsource
your salary! An economy built on love</a>,&rdquo; by Andrew Leonard, and (for
bonus points), watch <a href="https://www.youtube.com/watch?v=mPvDuZQoSxA">our
hour-long interview</a>.  That's my favorite of the interviews I've done so far
about Gratipay, because I think it best captures the spirit of what I'm trying
to accomplish there.</p>

<div class="midbar">
<iframe width="480" height="360" src="//www.youtube.com/embed/mPvDuZQoSxA"
frameborder="0" allowfullscreen></iframe>
</div>

<p>You can find further material on <a
    href="http://www.youtube.com/playlist?list=PLivwfG4q6DTCmj3ls2a3pSOePoOGt3OYT">this
    YouTube playlist</a>, and linked from the &ldquo;Turning Down
    TechCrunch&rdquo; piece. My second favorite is probably the one <a
        href="https://www.youtube.com/watch?v=OerW0Q_2_7o">with Gabe Stein</a>.
        He's more skeptical than Andrew. I haven't done any really hard-hitting
            interviews yet (my <a
                href="https://www.youtube.com/watch?v=p1E-svVd9Xc">call with
                David Heinemeier Hansson</a> probably comes closest, but that
            wasn't a media interview). Is hard-hitting what you're after?
            Let's do it! :-)</p>


<h2>P.S.</h2>

<p>Some people think I'm <a
    href="https://twitter.com/bvac/status/331856529756143617">narcissitic</a>
to have a policy like this. I don't want to dismiss this criticism out of
hand. I'll tell you what: I'm making this up as I go along. We all
have to manage our time somehow, and part of how I manage my time is only doing
open interviews.</p>

<p>I also genuinely believe that the best thing for me to do is <i>my
    thing</i>, with nary a care for what you're going to write about me.
Your customer is your audience, and I'm not your audience, I'm your raw
material. I have my own audience that does appreciate watching raw interviews I
do, so if you see a win-win here, by all means, please get in touch.</p>

<p>Okay! I look forward to hearing from you. :-)</p>

{% end %}
