@import url("/_lib/reset-min.css");
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&v2");

#body {
    font: 300 12pt/15pt Lato, sans-serif;
    width: 480px;
    text-align: justify;
    margin: 180px auto 40px;
}
#body.deal {
    /* This is for when there's a deal no Lulu. */
    margin-top: 220px;
}
#head {
    text-align: center;
    position: fixed;
    top: 0;
    left: 50%;
    margin: 0 0 0 -280px;
    width: 520px;
    background: white;
}
A IMG {
    border: none;
}
H1 {
    text-align: center;
    margin-top: 20px;
    font: italic 700 36pt/42pt Lato, sans-serif;
    padding-left: 40px;
}
#ed {
    text-align: center;
    font: italic 300 10pt/12pt Lato, sans-serif;
    padding-left: 40px;
}
#buy {
    padding: 0.5em 0;
    border: 1px solid black;
    border-style: solid none;
    background: #C8DEFE;
    margin: 1em 0 0 40px;
    box-shadow: 0 2px 5px #888;
    font-style: italic;
}
#buy A {
    font-size: 13pt;
    font-style: normal;
}
H2 {
    text-align: center;
    font: italic 700 18pt/24pt Lato, sans-serif;
    padding: 0em 0 0;
}
#back {
    text-align: center;
    font: 300 10pt/12pt Lato, sans-serif;
    margin: 0 0 2em;
}
P {
    text-indent: 1em;
}
U {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11pt;
}

A {
    font-weight: 400;
}
.break {
    margin: 2em 0;
    text-align: center;
}
#deal {
    margin: 1em 0 0 40px;
}
#deal B {
    background: #FFFE24;
}
